{% extends 'base.html' %}

{% block title %}Редактирование дневника{% endblock %}

{% block body_class %}about{% endblock %}

{% block main %}
    <div class="inner clearfix" style="max-width: 833px">
        <h2 style="text-align: center; margin-bottom: 15px">Редактирование дневника</h2>
        <form style="display: flex; flex-direction: column" action="" method="post">
            {% csrf_token %}
            <div>
                <p>Имя дневника</p>
                {{ form.name }}
                <p>Описание дневника</p>
                {{ form.description }}
                <p>Логопит</p>
                <p>{{ form.logo }}</p>
                <p>Логотип ico</p>
                <p>{{ form.logo_ico }}</p>
                <p>Телефон для связи</p>
                <p>{{ form.contact_phone }}</p>
                <p>Почта для связи</p>
                <p>{{ form.contact_email }}</p>
            </div>
            <div style="display: flex; flex-direction: row; max-width: 100%; justify-content: space-between">

                <div style="display: flex; flex-direction: column; justify-content: center">
                    <p>{{ form.home_color }}</p>
                    <p style="text-align: center">Цвет главной</p>
                </div>

                <div style="display: flex; flex-direction: column; justify-content: center">

                    <p>{{ form.sidebar_color }}</p>
                    <p style="text-align: center">Цвет боковой панели</p>
                </div>
                <div style="display: flex; flex-direction: column; justify-content: center">
                    <p>{{ form.input_color }}</p>
                    <p style="text-align: center">Цвет полей ввода</p>
                </div>
                <div style="display: flex; flex-direction: column; justify-content: center">
                    <p>{{ form.text_color }}</p>
                    <p style="text-align: center">Цвет текста</p>
                </div>
                <div style="display: flex; flex-direction: column; justify-content: center">
                    <p>{{ form.title_color }}</p>
                    <p style="text-align: center">Цвет заголовков</p>
                </div>
            </div>


            <button type="submit" class="btn btn-default">Сохранить</button>
        </form>
        <div class="errorlist mt-3">
            {% if form.errors %}
                {% for field in form %}
                    {% for error in field.errors %}
                        {{ field.label }}: {{ error|escape }}
                    {% endfor %}
                {% endfor %}
            {% endif %}
        </div>
    </div>

{% endblock %}

