{% extends 'base.html' %}

{% block logo %}
    <a href="">
        <img src=""/>
    </a>
{% endblock %}

{% block menu %}
    <li><a href="">Portfolio</a></li>
    <li><a href="">About</a></li>
    <li><a href="">Contact</a></li>
{% endblock %}

{% block photo %}
    <li class="col-md-2 post">
        <a href="">
            <figure>
                <img src="images/uploads/01.jpg">
                <figcaption>
                    <h3>Music</h3>
                    <span>Jacob Cummings</span>
                </figcaption>
            </figure>
        </a>
    </li>
{% endblock %}

