{% extends 'base.html' %}
{% load static %}

{% block logo %}
    <a href="">
        <img src="{% static 'images/site-logo.png' %}"/>
    </a>
{% endblock %}

{% block menu %}
    <li><a href="">Portfolio</a></li>
    <li><a href="">About</a></li>
    <li><a href="">Contact</a></li>
{% endblock %}

{% block photo %}
    <li class="col-md-2 post">
        <a href="">
            <figure>
                <img src="{% static 'images/uploads/01.jpg' %}">
                <figcaption>
                    <h3>Category</h3>
                    <span>Jacob Cummings</span>
                </figcaption>
            </figure>
        </a>
    </li>
{% endblock %}

