{% extends 'base.html' %}

{% block body_class %}home{% endblock %}

{% block main %}
    <ul class="row grid cs-style-2">
        {% for post in posts %}
            <li class="col-md-2 post">
                <a href="{{ post.get_absolute_url }}">
                    <figure>
                        <img src="{{ post.home_image.url }}">
                        <figcaption>
                            <h3>{{ post.category.name }}</h3>
                            <span>{{ portfolio.user.get_full_name }}</span>
                        </figcaption>
                    </figure>
                </a>
            </li>
        {% endfor %}
    </ul>

{% endblock %}

