{% extends 'base.html' %}

{% block title %}Управление постами{% endblock %}

{% block body_class %}about{% endblock %}

{% block main %}
    <div style="max-width: 1200px" class="inner clearfix">
        <h1 style="text-align: center; margin-bottom: 15px">Статистика постов</h1>

        <table class="table">
            <thead>
            <tr>
                <th>#</th>
                <th>Название</th>
                <th>Дата</th>
                <th>Лайки</th>
                <th>Просмотры</th>
                <th>Комментариев</th>
                <th>Редактироавть</th>
                <th>Удалить</th>
                <th>Посмотреть</th>
            </tr>
            </thead>
            <tbody>
            {% for post in posts %}
                <tr>
                    <th scope="row">{{ post.id }}</th>
                    <td style="text-align: left">{{ post.title }}</td>
                    <td style="text-align: left">{{ post.date }}</td>
                    <td style="text-align: left">{{ post.like_set.count }}</td>
                    <td style="text-align: left">{{ post.views }}</td>
                    <td style="text-align: left">{{ post.comment_set.count }}</td>
                    <td style="text-align: left"><a class="btn btn-info" role="button"
                                                    href="{% url 'portfolio:post_edit' slug=portfolio.slug name=post.url %}">Редактировать</a>
                    </td>
                    <td style="text-align: left"><a class="btn btn-info" role="button"
                                                    href="{% url 'portfolio:delete_post' slug=portfolio.slug name=post.url %}">Удалить</a>
                    </td>
                    <td style="text-align: left"><a class="btn btn-info" role="button"
                                                    href="{{ post.get_absolute_url }}">Посмотреть</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}