{% extends 'base.html' %}

{% block title %}Регистрация{% endblock %}

{% block body_class %}about{% endblock %}

{% block main %}
    <div class="inner clearfix">
        <h2 style="text-align: center; margin-bottom: 15px">Регистрация</h2>
        <form action="" method="post">
            {% csrf_token %}
            {% for f in form %}
                <p class="desc">{{ f }}</p>
            {% endfor %}

            <button methods="post" class="btn btn-default" href="#" >Зарегистрироваться</button>
        </form>
        <div class="errorlist mt-3">
            {% for f in form.non_field_errors %}
                <li>{{ f }}</li>
            {% endfor %}
        </div>
{% endblock %}