{% extends 'users_base.html' %}

{% block title %}Профиль{% endblock %}

{% block main %}
    <section class="py-5 text-center container">
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="fw-light">Профиль</h1>
            </div>
        </div>
    </section>

    <div class="album py-5 bg-light">
    <h2 style="text-align: center">Ваши дневники</h2>
        <div class="container">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Логотип</th>
                        <th scope="col">Название</th>
                        <th scope="col">Количество постов</th>
                        <th scope="col">Ссылка</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for p in portfolio %}
                        <tr>
                            <th scope="row">{{ p.id }}</th>
                            <td><img src="{{ p.logo.url }}" alt="" width="50px" height="50px"></td>
                            <td>{{ p.name }}</td>
                            <td>{{ p.post_set.count }}</td>
                            <td><a class="btn btn-info" role="button"
                                   href="{% url 'portfolio:home' p.slug %}">Перейти</a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}