{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}{{ portfolio.name }}{% endblock %}</title>
    <meta charset="utf-8">
    <link rel="shortcut icon" type="image/png" href="{{ portfolio.logo_ico.url }}"/>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body class="{% block body_class %}{% endblock %}">

<div class="site-header">
    <div class="site-logo">
        <a href="{{ portfolio.get_absolute_url }}">
            <img src="{{ portfolio.logo.url }}" alt="{{ portfolio.slug }}" height="50px" width="50px"/>
        </a>
    </div>

    <div class="site-menu">
        <div class="icon"></div>
        <div class="menu">
            <ul>
                <li><a href="{{ portfolio.get_absolute_url }}">Портфолио</a></li>
                <li><a href="{% url 'portfolio:about' portfolio.slug %}">О мне</a></li>
                <li><a href="{{ portfolio.get_absolute_url }}contact/">Контакты</a></li>
                {#                <li><a href="{{ portfolio.get_absolute_url }}login/">Вход</a></li>#}
                {#                <li><a href="{% url 'register' slug=portfolio.slug %}">Регистрация</a></li>#}

                {% if request.user == portfolio.user %}
                    <li><a href="{% url 'portfolio:add_post' slug=portfolio.slug %}">Добавить пост</a></li>
                    <li><a href="{% url 'portfolio:post_statistics' slug=portfolio.slug %}">Упровление постами</a></li>
                    <li><a href="{% url 'portfolio:readers' slug=portfolio.slug %}">Читатели</a></li>
                    <li><a href="{{ portfolio.get_absolute_url }}login/">Информация о портфолио</a></li>
                {% endif %}
            </ul>
        </div>
    </div>

    <div class="site-footer">
        <div class="site-social">
            <ul>
                {% for link in portfolio.sociallink_set.all %}
                    <li><a href="{{ link.link }}"><i class="pe-so-{{ link.name }} pe-lg pe-va"></i></a></li>
                {% endfor %}
            </ul>
        </div>
    </div>

</div>

<div class="site-main">
    {% block main %}

    {% endblock %}
</div>


<script src="{% static 'js/jQuery/jquery-2.1.1.js' %}"></script>


<script src="{% static 'js/functions.js' %}"></script>

<script src="{% static 'js/bootstrap/bootstrap.min.js' %}"></script>


<script src="{% static 'CaptionHoverEffects/js/modernizr.custom.js' %}"></script>
<script src="{% static 'CaptionHoverEffects/js/toucheffects.js' %}"></script>


</body>
</html>