{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>

    <title>{% block title %}{% endblock %}</title>
    <meta charset="utf-8">
    <link rel="shortcut icon" type="image/png" href="{% block ico %}{% endblock %}"/>
    <!-- Favicon -->
    {#    <link rel="shortcut icon" href="images/favicon.ico">#}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body class="home">

<div class="site-header">
    <div class="site-logo">
        {% block logo %}{% endblock %}
    </div>

    <div class="site-menu">
        <div class="icon"></div>
        <div class="menu">
            <ul>
                {% block menu %}{% endblock %}
            </ul>
        </div>
    </div>

    <div class="site-footer">
        <div class="site-social">
            <ul>
                {% block social_link %}{% endblock %}
            </ul>
        </div>
    </div>

</div>

<div class="site-main">
    <ul class="row grid cs-style-2">
        {% block photo %}{% endblock %}
    </ul>
</div>


<script src="{% static 'js/jQuery/jquery-2.1.1.js' %}"></script>


<script src="{% static 'js/functions.js' %}"></script>


<script src="{% static 'CaptionHoverEffects/js/modernizr.custom.js' %}"></script>
<script src="{% static 'CaptionHoverEffects/js/toucheffects.js' %}"></script>


</body>
</html>